extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h2 Login
      p.h6
        | Just fill forms and click 'Submit'

  .container.col-md-4
    +formFor({ url: urlFor('session'), method: 'post' })
      +input(formObj, 'email', 'E-mail')
      +input(formObj, 'password', 'Password', { as: 'password' })
      +button('Submit')