extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      if currentUser.hasDefaultPassword()
        h2 Change Default Password
        p.h5
          | Please change default password to use application
      else
        h2 Change Password
        p.h5
          | Please type old and new passwords and click submit

  .container.col-md-4
    +formFor({ url: urlFor('patchPassword'), method: 'patch' })
      +input(formObj, 'currentPassword', 'Current Password', { as: 'password'})
      +input(formObj, 'password', 'New Password', { as: 'password'})
      +input(formObj, 'confirmPassword', 'Confirm New Password', { as: 'password'})
      +button('Submit')