extends /layouts/application.pug

block content
  .container.mb-4
    .py-4.text-center
      h2 Add New User

  .container.col-md-4
    +formFor({ url: urlFor('users'), method: 'post' })
      +input(formObjUser, 'email', 'E-mail (as login)')
      +input(formObjUser, 'firstName', 'Firstname')
      +input(formObjUser, 'lastName', 'Lastname')

      h4.text-center.my-4 User address
      
      .row
        .container.col-sm
          +input(formObjAddr, 'house', 'House number')
        .container.col-sm
          +input(formObjAddr, 'flat', 'Flat number')

      +button('Submit')