extends /layouts/application.pug

block content
  .container.my-4
    .py-4.text-center
      h2.mb-4= user.getFullname()
      h4 Address:
      p=`House: ${user.Address.house}, Flat: ${user.Address.flat}`


  .container
    .py-4.text-center
      h2 Water Meters List